<!-- creates a form for the post and comment, becuuse commeents are shallowly nessted under psts. -->
<%= form_for [post,comment] do |f| %>
  <div class="form-group">
    <!-- creates a label with a class of sr-only. -->
    <%= f.label :body, class: 'sr-only' %>
    <%= f.text_field :body, class: 'form-control', placeholder: "Enter a new comment" %>
  </div>
  <%= f.submit "Submit Comment", class: 'btn btn-default pull-right' %>
<% end %>
