<div class="media">
  <div class="media-body">
    <h4 class="media-healing">
      <!-- creates a link to show view for the topic-->
      <%= link_to topic.name, topic %>
    </h4>
    <small>
      <%= topic.description %>
    </small>
  </div>
</div>
