<h1>All Posts</h1>
<!-- interates over each post in @posts and creates a link with post.title as text -->
<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to post.title, post%>
      </h4>
    </div>
  </div>
<% end %>
